@import url(./basic-styles.css);

/* lesson styles */

.container {
  width: 1100px;
  display: grid;
  border: 5px solid #000000;
  gap: 20px;

  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 100px);

  justify-content: space-evenly;
  align-items: center;
}

.item10 {
  align-self: start;
}
